/Exercicio_001.class
/Exercicio_002.class
/Exercicio_003.class
/Exercicio_004.class
/Exercicio_005.class
/Exercicio_006.class
/Exercicio_007.class
/Exercicio_008.class
/Exercicio_009.class
/Exercicio_010.class
/Exercicio_011.class
/Exercicio_012.class
